In [1]:
import numpy as np 
import pandas as pd 
import os
from numpy import median, mean

In [2]:
IMDBscore = pd.read_csv('C:/Users/oisin/Downloads/IMDB_results_febuary 21 2021 cleaner.csv')
IMDBscore.head(5)

,IMDB_titleID,IMDB_rating,IMDB_title_name
0,/title/tt4922804/,"7.4 based on 21,831 user ratings",3% (2016) (TV Series)
1,/title/tt5979312/,5.9 based on 570 user ratings,7:19 (2016)
2,/title/tt2100376/,4.6 based on 848 user ratings,23:59 (2011)
3,/title/tt0472033/,"7.1 based on 133,646 user ratings",9 (I) (2009)
4,/title/tt0478087/,"6.8 based on 230,214 user ratings",21 (2008)

In [3]:
IMDBscore.IMDB_title_name

0                                 3% (2016) (TV Series)
1                                           7:19 (2016)
2                                          23:59 (2011)
3                                          9 (I) (2009)
4                                             21 (2008)
                              ...
7782                                        Zozo (2005)
7783                                      Zubaan (2015)
7784                                           Not Found
7785           Zumbo's Just Desserts (2016) (TV Series)
7786     ZZ Top: That Little Ol' Band from Texas (2019)
Name: IMDB_title_name, Length: 7787, dtype: object

In [4]:
IMDBscorecleaner = IMDBscore.dropna()

In [5]:
IMDBscorecleaner

,IMDB_titleID,IMDB_rating,IMDB_title_name
0,/title/tt4922804/,"7.4 based on 21,831 user ratings",3% (2016) (TV Series)
1,/title/tt5979312/,5.9 based on 570 user ratings,7:19 (2016)
2,/title/tt2100376/,4.6 based on 848 user ratings,23:59 (2011)
3,/title/tt0472033/,"7.1 based on 133,646 user ratings",9 (I) (2009)
4,/title/tt0478087/,"6.8 based on 230,214 user ratings",21 (2008)
...,...,...,...
7782,/title/tt0448267/,"6.6 based on 3,080 user ratings",Zozo (2005)
7783,/title/tt3776484/,6.1 based on 389 user ratings,Zubaan (2015)
7784,Not Found,Not Found,Not Found
7785,/title/tt7239256/,"6.9 based on 1,867 user ratings",Zumbo's Just Desserts (2016) (TV Series)
7786,/title/tt9015306/,"7.5 based on 1,217 user ratings",ZZ Top: That Little Ol' Band from Texas (2019)

In [9]:
IMDBscorecleaner["IMDB_title_name"].str.upper()
IMDBscorecleaner2 = IMDBscorecleaner["IMDB_title_name"].str.strip()

In [10]:
IMDBscorecleaner2

0                                3% (2016) (TV Series)
1                                          7:19 (2016)
2                                         23:59 (2011)
3                                         9 (I) (2009)
4                                            21 (2008)
                             ...
7782                                       Zozo (2005)
7783                                     Zubaan (2015)
7784                                         Not Found
7785          Zumbo's Just Desserts (2016) (TV Series)
7786    ZZ Top: That Little Ol' Band from Texas (2019)
Name: IMDB_title_name, Length: 7787, dtype: object

In [ ]:
for items in IMDBscorecleaner2.IMDB_title_name
    if str(items) == "("
    
    else